/* LOGIN */

body{
    background-color: rgb(11, 0, 83);
    text-align: center;
    
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}

p{
    color: white;
    font-family: cursive;
}

form{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: rgb(63, 82, 255);
    color: white;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(165, 117, 255);
    color: white;
    border-radius: 50px;
    padding: 10px;
}





/* MENSAGEM */
.mensagem{
    text-align: center;
    border: 5px solid;
}

.mensagem-sucesso{
    color: green;
    background-color: rgb(197, 255, 197);
}

.mensagem-erro{
    color: red;
    background-color: rgb(255, 142, 142);
    padding: 10px;
}

.sair{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(76, 76, 255);
}

ul li{
    color: white;
}